body {
    background: lightgray;
}

h1 {
    font-style: italic;
    text-align: center;
    margin: auto;
    padding: 10px;
}

h3 {
    font-size: medium;
    font-style: normal;
    text-align: center;
    margin: auto;
    padding: 10px;
}